<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zihuame Mochilla</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <h1>Grupos</h1>
    <table class="table table-hover" id="query">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha de Nacimiento</th>
            <th>Grupo</th>
            <th>Sede</th>
        </tr>

        <% for (var i=0; i < beneficiarios.length; i++) { %>
            <tr>
                <td>
                    <%= beneficiarios[i].id_beneficiario %>
                </td>
                <td>
                    <%= beneficiarios[i].Nombre %>
                </td>
                <td>
                    <%= beneficiarios[i]['Fecha de Nacimiento'].toLocaleDateString('es-ES') %>
                </td>
                <td>
                    <%= beneficiarios[i].Grupo %>
                </td>
                <td>
                    <%= beneficiarios[i].Sede %>
                </td>
            </tr>
            <% } %>
    </table>
    <button id="botonDescarga" type="button" class="btn btn-primary">
        Descargar CSV </button>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/table2csv.min.js"></script>
    <script>
        $('#botonDescarga').on('click', function(){
            $('#query').table2csv({filename: 'Grupos.csv'});
        })
    </script>
</body>

</html>